@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Piazzolla:wght@200;300;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: red;
    width: 20vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.main{
    background-color: yellow;
    width: 90vw;
}

.container{
    display: flex;

}
.infoContainer{
    background-color: rgba(255, 145, 0, 0.959);
    height: 45vh;
width: 80vw;
margin: 144px auto;
height: 78vh;
display: flex;
justify-content: space-around;
}
.devPic img{
    width: 381px;
}